@import '../main.scss';



.main__hero{
    position: relative;
    overflow-x: hidden;
    padding: 4.6rem 0 0 0;


    .hero{
      height: 92dvh;
      width: 100%;
      // background-color: grey;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow-x: hidden;
      
      .hero__text{
          color: $primary-white;
          max-width: 90%;
          // margin: auto;
          padding-left: 5%;
          padding-bottom: 5rem;
          overflow-x: hidden;

          .overflow{
            overflow: hidden;
  
            h1{
              font-size: 58px;
            }
            p{
              margin-top: 1rem;
              line-height: 25px;
              font-size: 14px;
            }
          }
  
  
          .btn{
            background-color: $primary-gold;
            padding: 15px 60px;
            font-size: 15px;
            margin-top: 2rem;
            color: $primary-dark;
            border-radius: 30px;
          }
  
      }
    }
    

}
.main__catecory{
  background-color: $grey;

  .category{
    max-width: 90%;
    margin: auto;
    padding: 4rem 0;
  
    .section__name{
      border-bottom: 1px solid $primary-gold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1{
        padding: 1rem 0;
      }
      .arr{
        display: flex;
        gap: 10px;
  
        button{
          font-size: 30px;
          cursor: pointer;
          // color: $primary-gold;
          color: $primary-dark;

        }
      }
    }
    .category__item{
      margin: 2rem 0;
      border-radius: 10px;
      // padding: 1rem;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }
    .item__name{
        color: $primary-dark;
        font-size: 30px;
        padding: 1rem 0 0 1rem ;
    }
    p{
      padding: .5rem 0 0 1rem ;
      color: $primary-gold;
    }
  }
}
.main__sale{

  .sale{
    padding: 3rem 0 4rem 0;
    max-width: 90%;
    margin: auto;

    .section__name{
      border-bottom: 1px solid $primary-gold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1{
        padding: 1rem 0;
      }
  
      .arr{
        display: flex;
        gap: 10px;
  
        button{
          font-size: 30px;
          cursor: pointer;
          // color: $primary-gold;
          color: $primary-dark;

        }
      }
    }
    .sale__item{
      margin: 1rem 0;
      // box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      background-color: $primary-white;


      .img__timer{
        position: relative;

        .sale{

          position: absolute;
          top: -3rem;
          right: 1rem;
          width: 50px;
          transform: rotate(45deg);
        }

        .timer{
          text-align: center;
          font-size: 25px;
          padding: 1rem 0;
          background-color: $primary-gold;
          color: $primary-white;
        }
      }

      .sale__item__text{
        margin-top: 1rem;


        h4{
          font-size: 30px;
          margin-bottom: 1rem;
        }

        .price{
          display: flex;
          gap: 10px;
          p{
            font-size: 25px;
            color: $primary-gold;
          }
          .discount{
            text-decoration: line-through;
            color: $red;
            font-size: 20px;
          }
        }
        .find__btn__item{
          padding: 8px 30px;
          background-color: $primary-dark;
          color: $primary-white;
          margin-top: 1rem;
          border-radius: 30px;
          font-size: 20px;
          transition: .5s;
          cursor: pointer;
        }
        .find__btn__item:hover{
          padding: 8px 40px;
          background-color: $primary-gold;
          color:  $primary-dark;

        }

        .similar{
          display: none;
        }
      }
    }
    .none{
      display: none;
    }
  }
}
.main__latest{
  background-color: $grey;
}

.see__all{
  text-align: right;


  a{
    transition: .5s;
    padding: 0px 10px;
    color: $primary-dark;
    text-decoration: underline;

  }
  a:hover{
    color:  $primary-gold;

  }
}

@media (min-width: 1024px){
  .sale{

    // .sale__item:nth-child(){
    //   // width: 200px;
    //   // height: 200px;
    //   background-color: red;
    // }
    .sale__content{
      display: flex;
      align-items: center;
      gap: 2rem;
  
      .img__timer{
        width: 50%;
      }
  
  
    }
  }
}


@media (min-width: 1340px){

  .category{
    max-width: 1100PX !important;
    .item__name{
      font-size: 22px;
    }
  }
  .sale{
    max-width: 1100PX !important;

    .img__timer{
      width: 50%;
    }
  }

}








// arrows ------------------------------------------------------


.slick-prev {
  z-index: 1;
  position: absolute;
  top: 90% !important;
  left: 70%;
  color: white !important;
  opacity: 1 !important;
}
.slick-prev:before {
  font-size: 30px;
  padding: 14px 16px 24px;
  color: white !important;


}
.slick-next {
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 90%;
  right: 10%;
  color: white !important;
  opacity: 1 !important;
}

.slick-next:before {
  border-radius: 50%;
  font-size: 30px;
  color: white !important;

}
@media (min-width: 768px){
  .slick-prev {
    left: 79%;
  }
}
@media (min-width: 1024px){
  .slick-prev {
    left: 82%;
  }
  .main__hero{
    .hero{
      .hero__text{
          .overflow{
            h1{
              font-size: 100px;
            }
            p{
              font-size: 16px;
              width: 600px;
            }
          }
        }
      }
    }
}
@media (min-width: 1340px){
  .slick-prev {
    left: 84%;
  }
}
@media (min-width: 1840px){
  .slick-prev {
    left: 85%;
  }
}

